VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://djgvqfdodjdzrstkupjw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqZ3ZxZmRvZGpkenJzdGt1cGp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMTc0ODEsImV4cCI6MjA5ODg5MzQ4MX0.6slVqYoQBd0qMjdg315Lcn-5beWyovUD1mh39DAvpcE
