SUPABASE_URL=https://djgvqfdodjdzrstkupjw.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqZ3ZxZmRvZGpkenJzdGt1cGp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzMxNzQ4MSwiZXhwIjoyMDk4ODkzNDgxfQ.oUGMKcwugMzSiG0IO6CLIk7_ssZ8tDm5ePErMHisnuk
FRONTEND_ORIGIN=http://localhost:5173
